:host {
  .add-language-form {
    display: block;
    max-width: 400px;
    float: right;

    form {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 20px;

      .form-group {
        display: block;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }
}